* {
    font-family:monospace;
    align-items: center;
    font-size: 15px;
    color:thistle;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    width: 100%;
    min-height: 100vh;
    background: white;
}


/* =======================

NAVEGAÇÃO

   ======================= */

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 1em 0;
    border-bottom: 2px solid #DCC8D1;
    margin-bottom: 25px;
}

nav a {
    text-decoration: none;
    color: thistle;
    transition: 0.2 ease;
}

nav a:hover {
    transform:scale(1.1);
    color:thistle;
}

