/* ========================

        ESTILOS GERAIS

   ========================*/


* {
    font-family: monospace;
    align-items: center;
    font-size: 20px;
    color: sienna;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #fff7ef, #ffe7d0);
}

/* ===================

        NAVEGAÇÃO

   =================== */


.navbar-custom {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding: 1em 2em;
    position: sticky;
    top: 0;
    background: rgba(255, 231, 208, 0.85);
    backdrop-filter: blur(8px);
    border-bottom: 2px solid sienna;
    z-index: 1000;
}

.nav-left {
    justify-self: start;
}

.nav-left img {
    display: block;
}

.nav-center {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.nav-center a {
    text-decoration: none;
    color: brown;
    transition: 0.2s ease;
}

.nav-center a:hover {
    transform: scale(1.1);
    color: #562a00;
}

.nav-center a {
    position: relative;
    text-decoration: none;
    color: brown;
    transition: color 0.01s ease;
}

.nav-center a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: sienna;
    transition: width 0.3s ease;
}

.nav-center a:hover::after {
    width: 100%;
}


/*  ============

        HOME

    ============
*/

.beneficios {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px auto;
    flex-wrap: wrap;
    max-width: 900px;
}

.beneficio-card {
    background: #fff7f0;
    border: 2px solid sienna;
    border-radius: 12px;
    padding: 20px;
    width: 250px;
    height: 184px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
}

.beneficio-card:hover {
    transform: scale(1.05);
}

.beneficio-card .icone {
    width: 50px;
    margin-bottom: 15px;
}

.beneficio-card h3 {
    font-size: 20px;
    color: sienna;
    margin-bottom: 8px;
}

.beneficio-card p {
    font-size: 16px;
    color: #5a2d00;
}

.banner-texto {
    width: 90%;
    max-width: 800px;
    margin: 60px auto;
    padding: 30px;
    background: #fff7ef;
    border: 2px solid sienna;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.banner-texto h2 {
    font-size: 32px;
    color: sienna;
    margin-bottom: 10px;
}

.banner-texto p {
    font-size: 20px;
    color: #5a2d00;
    line-height: 1.5;
}

.encomenda-banner {
    background-color: #3e1f0f;
    border-radius: 20px;
    padding: 40px 20px;
    text-align: center;
    margin: 60px auto;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.encomenda-banner h2 {
    font-size: 28px;
    color: #fff7ef;
    margin-bottom: 10px;
}

.encomenda-banner p {
    font-size: 18px;
    color: #fff7ef;
    margin-bottom: 20px;
}

.botao-encomenda {
    display: inline-block;
    background-color: sienna;
    color: #fff7ef;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.botao-encomenda:hover {
    background-color: #562a00;
}

.rodape {
    background-color: #3e1f0f;
    border-top: 3px solid #ffe7d0;
    padding: 5px 0;
    margin-top: 60px;
    text-align: center;
    color: #ffe7d0;
}

.rodape-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.rodape-icone {
    width: 40px;
    height: auto;
}

.rodape h3 {
    font-size: 22px;
    margin: 0;
    color: #ffe7d0;
}

.rodape p {
    font-size: 16px;
    margin: 0;
    color: #ffe7d0;
}


/*  ============

        BOLOS (que dor)

    ============*/


.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.bolo-card {
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.bolo-imagem {
    position: relative;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(92, 51, 23, 0.5);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.bolo-texto {
    width: 100%;
    background: rgba(83, 48, 25, 0.6);
    color: #fff7ef;
    text-align: center;
    padding: 2px;
}

.bolo-texto h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.bolo-texto p {
    font-size: 14px;
    margin-bottom: 4px;
    color: #fff7ef;
}

.bolo-texto .preco {
    font-size: 16px;
    font-weight: bold;
    color: #ffe7d0;
}

.carousel-overlay {
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(92, 51, 23, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-texto {
    color: #fff7ef;
    text-align: center;
    background: rgba(83, 48, 25, 0.6);
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.carousel-texto h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.carousel-texto p {
    font-size: 18px;
    color: white;
}

@media (max-width: 768px) {
    .carousel-inner img {
        max-width: 100%;
        border-radius: 8px;
    }

    .carousel {
        padding: 10px;
        border-radius: 10px;
    }
}

.carousel-img {
    width: 100%;
    max-width: 700px;
    height: 400px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.selo-especial {
    position: absolute;
    top: 10px;
    left: 10px;
    background: gold;
    color: #5a2d00;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 16px;
    border: 2px solid #5a2d00;
    pointer-events: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.btn-carrinho {
    background-color: sienna;
    color: #fff7ef;
    border: none;
    border-radius: 50%;
    padding: 8px 12px;
    margin-top: 6px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-carrinho:hover {
    background-color: #4a2200;
    transform: scale(1.1);
}

.btn-ver-carrinho {
    background: transparent;
    padding: 8px 14px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}





/* ========================
        QUEM SOMOS
   ========================*/

.quem-somos {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    padding: 25px;
    border: 3px solid sienna;
    border-radius: 10px;
    background: #fff7f0;
    text-align: center;
}

.quem-somos h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: sienna;
    border-bottom: 2px solid sienna;
    display: inline-block;
    padding-bottom: 5px;
}

.quem-somos p {
    font-size: 20px;
    color: #5a2d00;
    line-height: 1.6;
    margin-bottom: 18px;
    padding: 0 10px;
}

/* ========================
          CONTATO
   ========================*/

.contato {
    padding: 50px 20px;
    text-align: center;
    background: linear-gradient(180deg, #fff7ef, #fef3e9);
}

.contato-titulo {
    font-size: 40px;
    color: #7a3e1a;
    margin-bottom: 40px;
    font-weight: bold;
}


.contato-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}


.contato-card-info {
    width: 380px;
    background: #ffffff;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border: 2px solid #d9b89b;
}

.contato-card-info h2 {
    color: #7a3e1a;
    margin-bottom: 20px;
    font-size: 28px;
}

.info-item {
    margin-bottom: 18px;
    text-align: left;
}

.info-label {
    display: block;
    font-weight: bold;
    color: #7a3e1a;
    margin-bottom: 4px;
    font-size: 18px;
}

.info-item a {
    color: #b25c2e;
    text-decoration: none;
    font-size: 17px;
}

.info-item a:hover {
    text-decoration: underline;
}


.pedido-wrapper {
    width: 380px;
    text-align: left;
}

.pedido-wrapper h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #7a3e1a;
}

#pedido {
    width: 100%;
    padding: 15px;
    background: #ffffff;
    border: 2px solid #d9b89b;
    border-radius: 14px;
    font-size: 17px;
    resize: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.contato-img {
    width: 340px;
    margin-top: 40px;
    border-radius: 14px;
    border: 3px solid #d9b89b;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 850px) {
    .contato-wrapper {
        flex-direction: column;
        align-items: center;
    }
}